body {
	background-image: url('../img/bck_pattern.png');
}

.logo {
	background-image: url('../img/logo.png');
	width: 160px;
	height: 63px;
	display: inline-block;
	float: left;
}

.steps {
	text-align: center;
}
.steps img {
	height: 75px;
}

.tableft {
	background-image: url('../img/tableft.png');
	width: 492px;
	height: 44px;
	float: left;
}
.tabright {
	background-image: url('../img/tabright.png');
	width: 492px;
	height: 44px;
	float: left;
}

.tabtext {
	
}
.totalsuggestions {
	
}
.tabbox {
	
}
.supporters {
	
}