body {
	background-image: url('/static/img/bck_pattern.png');
}

.logo {
	background-image: url('/static/img/logo.png');
	width: 218px;
	height: 111px;
	display: inline-block;
	float: left;
	margin-bottom: 2em;
	margin-top: 2em;
}
.navigation div {
	float: right;
	margin-top: 2em;
	margin-bottom: 1em;
}
.navblock {
	width: 105px;
	height: 106px;
	background-color: #1d7373;
	padding-left: 10px;
	padding-top: 4px;
	cursor: pointer;
}
.navblock a {
	font-family: 'Archivo Narrow', sans-serif;
	color: #262626;
	font-weight: bold;
}
.navblock a:hover {
	text-decoration: none;
	color: #ffffff;
}
.navblock.active a {
	color: #ffffff;
}
.divider {
	width: 1px;
	height: 110px;
	background-color: #196666;
}


.steps {
/*	text-align: center;*/
}
.steps img {
	height: 75px;
/*	max-width: 906px;*/
	width: 100%;
	margin-bottom: 2em;
}
.illustration {
/*	text-align: center;*/
	margin-bottom: 2em;
}
.illustration img {
	width: 100%;
}


.tableft {
	background-image: url('/static/img/tableft.png');
	background-position: right;
	width: 50%;
	max-width: 492px;
	height: 44px;
	float: left;
	text-align: center;
	cursor: pointer;
}

.tabright {
	background-image: url('/static/img/tabright.png');
	background-position: left;
	width: 50%;
	max-width: 492px;
	height: 44px;
	float: right;
	text-align: center;
	cursor: pointer;
}

.leftbox .limiter {
	background-color: #d7d7d7;
	padding-top: 1em;
}

.rightbox {
	display: none;
}

.rightbox .limiter {
	background-color: #ffffff;
	padding-bottom: 1em;
}

.boxpravica {
	background-color: #ffffff;
	padding: 0.5em;
	margin: 1em;
	overflow: hidden;
}
.box
.trikotnik {
	background-image: url('/static/img/puscica_pravice.png');
	width: 20px;
	height: 15px;
	display: inline-block;
}
.takemethere {
	background-image: url('/static/img/gumb_sooblikuj.png');
	width: 98px;
	height: 42px;
	display: inline-block;
	float: right;
}
.takemethere:hover {
	background-image: url('/static/img/gumb_sooblikuj_hover.png');
}
.signupform {
	background-color: white;
	float: right;
}

.pravicatext {
	font-size: 20px;
	font-family: 'Dosus', sans-serif;
	line-height: 42px;
	float: left;
	color: #363636;
}
.pravicatext:hover {
	text-decoration: none;
	color: #363636;
}

.tekstpravica {
	margin: 2em;
	margin-left: 3em;
}
.tekstpravica p {
	font-size: 16px;
	font-family: 'Archivo Narrow', sans-serif;
}

/*.limiter {
	max-width: 906px !important;
	margin: auto;
	padding: 0px;
}*/
#zadnjapravica {
	padding-bottom: 1em;
}

.podporniki {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 16px;
	padding: 2em;
	padding-bottom: 0px;
}

/* Sign up form */
.signupform {
	background-image: url('/static/img/bck_pattern.png');
	font-family: 'Archivo Narrow', sans-serif;
	margin: 2em;
	width: 30%;
	padding: 1em;
}
.signupform h2 {
	color: #1d7373;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	font-size: 22px;
	text-transform: uppercase;
}
.signupform input {
	border-radius: 0px;
	height: 28px;
	border: 2px solid #eaeaea;
	padding-left: 5px;
	width: 92%;
	overflow: hidden;
}
.signupform input:focus {
	border: 2px solid #1d7373;
	box-shadow: 0px 0px 0px 0px;
}
.signupform .question {
	color: #262626;
}
.signupform .radio {
	list-style: none;	
}
.signupform .radio input {
	position: relative;
	top: -7px;
	width: 15px;
}
#mc-embedded-subscribe {
	background-image: url('/static/img/gumb_poslji.png');
	width: 68px;
	height: 31px;
	float: right;
	border: 0px;
}
#mc-embedded-subscribe:hover {
	background-image: url('/static/img/gumb_poslji_hover.png');
}
/* End of sign up form */

.m0ar {
	background-image: url('/static/img/gumb_vec.png');
	width: 69px;
	height: 36px;
	margin-left: 33%;
	cursor: pointer;
	margin: auto;
}
.m0ar:hover {
	background-image: url('/static/img/gumb_vec_hover.png');
}


.footy {
	background-image: url('/static/img/footer_pattern.png');
	overflow: hidden;
	padding-bottom: 20px;
}

.footy h1 {
	color: #363636;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 1.5em;
}

.footy p {
	color: #363636;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	font-size: 14px;
}
.footy .mail {
	padding-left: 1.5em;
	color: #363636;
}

.crtica {
	background-image: url('/static/img/crtica_footer.png');
	height: 8px;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1em;
}
.crticapokoncna {
	background-image: url('/static/img/crtica_footer_pokoncna.png');
	height: 50px;
	line-height: 50px;
	width: 8px;
	display: inline-block;
}
.uredniskapolitika {
	padding-left: 1.5em;
}
.footerlink {
	color: #1d7373;
	display: block;
}
.tabtext {
	font-family: 'Archivo Narrow', sans-serif;
	color: #a1a1a1;
	font-weight: bold;
	display: inline-block;
	padding-top: 15px;
	font-size: 1.2em;
}
.tabtext.infocus {
	color: #1d7373;
}
.razvijaj {
	display: none;
	padding-right: 20px;
	font-family: 'Archivo Narrow', sans-serif;
}
.fb-like {
	display: inline-block;
	position: relative;
	top: -3px;
}
.twitter-share-button {
	display: inline-block;
}
#___plusone_0 {
	display: inline-block;
	width: 60px !important;
}
.lajkbatons {
	margin: auto;
}