body {
	background-image: url('../img/bck_pattern.png');
}

.logo {
	background-image: url('/static/img/logo.png');
	width: 218px;
	height: 111px;
	display: inline-block;
	float: left;
	margin-bottom: 1em;
	margin-top: 2em;
}

.navigation div {
	float: right;
	margin-top: 2em;
	margin-bottom: 1em;
}
.navblock {
	width: 105px;
	height: 106px;
	background-color: #1d7373;
	padding-left: 10px;
	padding-top: 4px;
}
.navblock a {
	font-family: 'Archivo Narrow', sans-serif;
	color: #262626;
	font-weight: bold;
}
.navblock a:hover {
	text-decoration: none;
	color: #ffffff;
}
.navblock.active a {
	color: #ffffff;
}
.divider {
	width: 1px;
	height: 110px;
	background-color: #196666;
}
.votebox div {
	float: left;
}

#predlogi {
	background-color: white;
	margin-bottom: 5em;
}
.suggestionrow {
	font-family: 'Dosus', sans-serif;
	border-top: 1px solid #e5e5e5;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
}
.suggestiontitle {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding-left: 1em;
}
.suggestiontitle a {
	color: #363636;
}
.suggestiontitle a:hover {
	text-decoration: none;
}

.timestampwrap {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	text-align: center;
}
.timestamp {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
}
.votefor {
	margin-top: 3px;
	display: inline-block;
	background-image: url('/static/img/gumb_za.png');
	width: 70px;
	height: 33px;
}
.voteagainst {
	margin-top: 3px;
	display: inline-block;
	background-image: url('/static/img/gumb_proti.png');
	width: 94px;
	height: 33px;
}
.votecount {
	background-image: url('/static/img/counter_back.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 20px;
	padding-left: 10px;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 13px;
	color: #a1a1a1;
	display: inline-block;
}
.ihaveanargument {
	background-image: url('/static/img/gumb_imam-argument.png');
	width: 128px;
	height: 32px;
	margin-top: 7px;
}
.m0ar {
	background-image: url('/static/img/gumb_vec.png');
	width: 69px;
	height: 36px;
	margin: auto;
	margin-bottom: 1em;
}








/* SUGGESTION PAGE */
.blokic {
	background-color: white;
}
.toprow {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	margin-top: 0.5em;
	border-image: url('/static/img/crtica.png') 20 3 repeat stretch;
	border-left: 0;
	border-right: 0;
}
.predlogcrta {
	color: #363636;
	height: 2px;
	background-color: #363636;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.documenttitle {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	margin-top: 0.5em;
	margin-left: 1.8em;
}
.documentbox {
	background-image: url('/static/img/bck_pattern.png');
	margin-left: 20px;
	padding: 1em;
	overflow: hidden;
}
.documentlink {
	color: #1d7373;
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
}
.documenttype {
	color: #a1a1a1;
}
#documentname {
	border-radius: 0px;
	height: 20px;
	border: 2px solid #c5c5c5;
	padding-left: 1%;
	padding-right: 1%;
	width: 98%;	
	margin-top: 2em;
}
#documentname:focus {
	border: 2px solid #1d7373;
	box-shadow: 0px 0px 0px 0px;
}
#documentfile {
	opacity: 0;
	float: left;
}
#uploadlabel {
	background-image: url('/static/img/gumb_izberi-datoteko.png');
	width: 103px;
	height: 25px;
	float: left;
}
#submitdocument {
	background-image: url('/static/img/gumb_objavi.png');
	width: 69px;
	height: 32px;
	border: 0px;
	float: right;
	margin-bottom: 1em;
}
.workgrouptitle {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	margin-top: 0.5em;
	margin-left: 1.2em;
}
.workgroupbox {
	background-image: url('/static/img/bck_pattern.png');
	padding: 1em;
	margin-right: 20px;
}

.argumentbox {
	background-color: #e6e6e6;
	overflow: hidden;
}
.addargument {
	background-color: #e6e6e6;
	overflow: hidden;
}

.suggestionvotefor {
	display: inline-block;
}
.suggestionvoteagainst {
	display: inline-block;
}
.suggestionup {
	display: inline-block;
	background-image: url('../img/gumb_za.png');
	width: 70px;
	height: 33px;
}
.suggestiondown {
	display: inline-block;
	background-image: url('../img/gumb_proti.png');
	width: 94px;
	height: 32px;
}

.suggest {
	background-image: url('../img/gumb_dodaj-predlog.png');
	width: 211px;
	height: 63px;
	float: right;
	margin-bottom: 1em;
}
.suggest:hover {
	background-image: url('../img/gumb_dodaj-predlog_hover.png');
}
.title {
	font-size: 1.2em;
	padding: 10px;
	padding-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 50%;
	float: left;
	line-height: 1.2em;
}
.author {
	padding-left: 20px;
	color: #a1a1a1;
	font-family: 'Dosis', sans-serif;
}
.suggestiontimestamp {
	color: #a1a1a1;
	font-family: 'Dosis', sans-serif;
}
.suggestiontext {
	padding-left: 20px;
	padding-top: 10px;
	color: #363636;
	font-family: 'Dosis', sans-serif;
}
.temporarybox {
	float: right;
}

.adddocument {
	background-image: url('../img/gumb_dodaj-dokument.png');
	width: 145px;
	height: 32px;
	float: right;
}
.argumentup {
	background-image: url('../img/gumb_arg_za.png');
	width: 32px;
	height: 33px;
	float: left;
}
.argumentdown {
	background-image: url('../img/gumb_arg_proti.png');
	width: 32px;
	height: 32px;
	float: right;
}

/* FOOTER */
.footy {
	background-image: url('/static/img/footer_pattern.png');
/*	max-width: 906px !important;*/
}

.footy h1 {
	color: #363636;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 1.5em;
}

.footy p {
	color: #363636;
	font-family: 'Dosus', sans-serif;
	font-weight: normal;
	font-size: 14px;
}
.footy .mail {
	position: relative;
	top: -20px;
	padding-left: 1.5em;
	color: #363636;
}

.crtica {
	background-image: url('/static/img/crtica_footer.png');
	height: 8px;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1em;
}
.crticapokoncna {
	background-image: url('/static/img/crtica_footer_pokoncna.png');
	height: 50px;
	width: 8px;
	display: inline-block;
}
.uredniskapolitika {
	padding-left: 1.5em;
}
.footy ul {
	display: inline-block;
	list-style: none;
	position: relative;
	top: -8px;
}
.footerlink {
	color: #1d7373;
}
.submitargumentfor {
	background-image: url('/static/img/gumb_dodaj-argument.png');
	width: 134px;
	height: 32px;
}

/* suggestion popup */
.suggestionpopup {
	border-radius: 0px;
	background-color: #e6e6e6;
}
.closepopup {
	background-image: url('/static/img/gumb_iks.png');
	width: 20px;
	height: 20px;
	border: 0px;
	float: right;
	margin: 5px;
}
input.addsuggestiontitle {
	border-radius: 0px;
	height: 20px;
	border: 2px solid #c5c5c5;
	padding-left: 5px;	
	width: 80%;
	margin-left: 10%;
	margin-top: 2em;
}
input.addsuggestiontitle:focus {
	border: 2px solid #1d7373;
	box-shadow: 0px 0px 0px 0px;
}
input.addsuggestioncontent {
	border-radius: 0px;
	height: 100px;
	border: 2px solid #c5c5c5;
	padding: 5px;	
	width: 80%;
	margin-left: 10%;
}
input.addsuggestioncontent:focus {
	border: 2px solid #1d7373;
	box-shadow: 0px 0px 0px 0px !important;
}