body {
	background-image: url('../img/bck_pattern.png');
}

.logo {
	background-image: url('../img/logo.png');
	width: 160px;
	height: 63px;
	display: inline-block;
	float: left;
}

.navigation div {
	float: left;
}
.navblock {
	width: 115px;
	height: 110px;
	background-color: #1d7373;
}
.navblock a {
}
.navblock.active a {
	color: #ffffff;
}
.divider {
	width: 1px;
	height: 110px;
	background-color: #196666;
}
.votebox div {
	float: left;
}


/* SUGGESTION PAGE */
.suggestionvotefor {
	display: inline-block;
}
.suggestionvoteagainst {
	display: inline-block;
}
.suggestionup {
	display: inline-block;
	background-image: url('../img/gumb_za.png');
	width: 70px;
	height: 33px;
}
.suggestiondown {
	display: inline-block;
	background-image: url('../img/gumb_proti.png');
	width: 94px;
	height: 32px;
}

.suggest {
	background-image: url('../img/gumb_dodaj-predlog.png');
	width: 211px;
	height: 63px;
}
.suggest:hover {
	background-image: url('../img/gumb_dodaj-predlog_hover.png');
}
.title {
	font-size: 1.4em;
}

.adddocument {
	background-image: url('../img/gumb_dodaj-dokument.png');
	width: 145px;
	height: 32px;
}
.argumentup {
	background-image: url('../img/gumb_arg_za.png');
	width: 32px;
	height: 33px;
	float: left;
}
.argumentdown {
	background-image: url('../img/gumb_arg_proti.png');
	width: 32px;
	height: 32px;
	float: right;
}