@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/7L9_zC5qZfwiKVyE9UcfBqCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

body {
	background-image: url('../img/bck_pattern.png');
}

h1 {
	text-align: left;
	text-transform: uppercase;
	font-size: 1.3em;
	font-family: 'Dosis', sans-serif;
	color: #579696;
	padding: 16px;
}

#voteline {
	width: 100%;
	position: absolute;
	bottom: 16px;
}

#za {
	background-image: url('../img/toggleza.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 97px;
	height: 97px;
	float: left;
	margin-left: 16px;
}

#za.marked {
	background-position: -97px 0px;
}

#proti {
	background-image: url('../img/toggleproti.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 97px;
	height: 97px;
	float: right;
	margin-right: 16px;
}

#proti.marked {
	background-position: -97px 0px;
}